<div class="container">
    <h3>Register</h3>
    <form class="login">
      <div class="form-group">
          <input [(ngModel)]="username" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
      </div>
      <div class="form-group">
          <input [(ngModel)]="password" class="form-control" name="password" placeholder="Password" type="password"/>
      </div>
      <div class="form-group">
        <input [(ngModel)]="rePassword" class="form-control" name="password" placeholder="Password again" type="password"/>
    </div>
      <button (click)=checkRegister() class="btn btn-primary" type="submit">Register</button>
    </form>
  </div>